// About Section
.about-section {
  background-color: #fff;
  color: #212529;
}
.about-title {
  color: #8e44ad;
}

// Metrics Section
.metrics-section {
  background-color: #fff;
  color: #212529;
}
.metrics-title {
  color: #8e44ad;
}

// Contact Section
.contact-section {
  background-color: #8e44ad;
  color: #fff;
}

// Footer
.footer {
  background-color: #8e44ad;
  color: #fff;
}
