<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light">
      <!-- Sidebar Menu -->
      <ul class="nav flex-column mt-3">
        <li class="nav-item">
          <a routerLink="/dashboard/animals" routerLinkActive="active" class="nav-link">Animals</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/vendor" routerLinkActive="active" class="nav-link">Vendors</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/feed-inventory" routerLinkActive="active" class="nav-link">Feed Inventory</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/orders" routerLinkActive="active" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/customers" routerLinkActive="active" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/expenses" routerLinkActive="active" class="nav-link">Expenses</a> 
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/settings" routerLinkActive="active" class="nav-link">settings</a>          
      </ul>
    </div>

    <div class="col-md-10 mt-3">
      <!-- Main content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
