/* Animal Batches styles */

.table {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 20px;
  font-size: 0.95rem;

  thead th {
    background-color: #343a40;
    color: white;
    vertical-align: middle;
  }

  td,
  th {
    vertical-align: middle;
  }

  tbody tr:hover {
    background: rgba(0, 123, 255, 0.05);
  }
}

input.form-control,
select.form-control {
  height: 38px;
  font-size: 0.9rem;
  padding: 6px 10px;
}

button.btn {
  padding: 4px 10px;
  font-size: 0.85rem;
  border-radius: 6px;
}
