<div class="container mt-4">
  <div *ngIf="isvisible">
  <h3 class="mb-4">Add Feed</h3>
  
  <form [formGroup]="feedInventoryForm" (ngSubmit)="onSubmit()" novalidate>

     <div class="row g-4">
      <div class="col-md-4">
       <label for="feed-inventoryID" class="form-label">feed-inventoryID</label>
       <input type="text" class="form-control" id="feed-inventoryID" formcontrolName="feed-inventoryID">
      </div>
      <div class="col-md-4">
        <label for="feed-inventoryType" class="form-label"> feed-inventoryType</label>
        <input type="text" class="form-control" id="feed-inventoryType" formControlName="feed-inventoryType">
      </div>
      <div class="col-md-4">
        <label for="stockQuantity" class="form-label">stockQuantity</label>
        <input type="number" class="form-control" id="stockQuantity"
        formControlName="stockQuantity">
      </div>
      <div class="col-md-4">
        <label for="Unit" class="form-label">Unit</label>
        <input type="number" class="form-control" id="Unit" 
        formControlName="Unit">
      </div>
        <div class="col-md-4">
        <label for="expiryDate" class="form-label">expiryDate</label>
        <input type="date" class="form-control" id="expiryDate" 
        formControlName="expiryDate">
      </div>
       <div class="col-12 md-3">
       <button class="btn btn-success me-2" type="submit">submit</button> 
       <button class="btn btn-danger" type="submit" (click)="oncancel()">cacncel</button>
      </div>
    </div>
  </form>
  </div>
<hr class="my-5" />
<div *ngIf="!isvisible">
  <h4>Feed List</h4>
    <div class="col-12 mt-3">
      <button class="btn btn-success" type="submit" (click)="onAdd()">Add Feed</button>
    </div>
   <!-- *ngIf="AnimalsData.length > 0" -->
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-white">
      <tr>
        <th>Feed ID</th>
        <th>Feed Type</th>
        <th>Stock Quantity</th>
        <th>Unit</th>
        <th>Expiry Date</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feed offeed-inventoryData">
        <td>{{ feed.feedID }}</td>
        <td>{{ feed.feedType }}</td>
        <td >{{ feed.stockQuantity }}</td>
        <td>{{ feed.unit }}</td>
        <td>{{ feed.expiryDate | date:'yyyy-MM-dd' }}</td>
        
    </tbody>
  </table>
</div>
</div>
